# -----------------------------
# Raw experiment artifacts
# -----------------------------
runs/*
plots/*
data/*

# -----------------------------
# Keep final results & figures
# -----------------------------
!runs/metrics/
!runs/metrics/*.csv
!plots/final/
!plots/final/*.png
!plots/final/*.pdf

# -----------------------------
# Model artifacts
# -----------------------------
*.pt
*.pth
*.ckpt

# -----------------------------
# Arrays
# -----------------------------
*.npz
*.npy


# logs
*.log

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# virtual envs
venv/
.venv/

# -----------------------------
# OS / editor
# -----------------------------
.DS_Store
.idea/
.vscode/
